@keyframes blink {
  0% {
    height: 0;
  }
  90% {
    height: 0;
  }
  92.5% {
    height: 100%;
  }
  95% {
    height: 0;
  }
  97.5% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}

@keyframes look-around {
  0% {
    transform: translate(0);
  }
  5% {
    transform: translate(70%, -25%);
  }
  10% {
    transform: translate(70%, -25%);
  }
  15% {
    transform: translate(70%, 25%);
  }
  20% {
    transform: translate(70%, 25%);
  }
  25% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes tongue {
  0% {
    transform: translateY(-70%);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-70%);
  }
}
