/* CAT CONTAINER */
.cat_container {
  width: 80%;
  height: 80%;
  border-radius: 10px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  --cat-color: #1a1a1a;

  --cat-nose: pink;

  --cat-ears: #1a1a1a;
  --cat-ear-i: pink;

  --cat-eyes: white;
  --cat-eye-pupil: #1a1a1a;

  --cat-mouth: pink;
}

/* CAT */
.cat {
  position: absolute;
  width: 550px;
  height: 550px;

  display: flex;
  justify-content: center;
}

/* HEAD */
.head {
  width: 250px;
  height: 250px;
  background: var(--cat-color);
  border-radius: 70% 70% 60% 60% / 60% 60% 70% 70%;
  margin-top: 40px;
  position: relative;
  z-index: 9;
}

/* EARS */
.ear {
  position: absolute;
  left: 35%;
  margin-left: 156.5px;
  height: 30%;
  width: 15%;
  background: var(--cat-ears);
  z-index: 1;
}

.ear::after {
  content: "";
  position: absolute;
  bottom: 24%;
  height: 50%;
  width: 50%;
  border-radius: 100% 100% 50% 100% / 100% 100% 50% 100%;
  background: var(--cat-ear-i);
}

.ear-l {
  left: -7%;
  border-radius: 100% 20% 0% 50%/100% 50% 10% 10%;
  transform: rotate(-20deg);
}

.ear-l::after {
  right: 10%;
  transform: rotate(5deg);
}

.ear-r {
  right: -7%;
  border-radius: 20% 100% 50% 0%/50% 100% 10% 10%;
  transform: rotate(20deg);
}

.ear-r::after {
  left: 10%;
  transform: rotate(-5deg);
  border-radius: 100% 100% 100% 50% / 100% 100% 100% 50%;
}

/* FACE */
.face {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99;
}

/* EYES */
.eye {
  position: absolute;
  top: 30%;
  height: 35%;
  width: 30%;
  z-index: 2;
  background: var(--cat-eyes);
  border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
}

.eye::after {
  position: absolute;
  content: "";
  top: -10px;
  left: 0;
  height: 0%;
  width: 100%;
  border-radius: 0 0 50% 50%/0 0 40% 40%;
  background: var(--cat-color);
  animation: blink 4s infinite ease-in;
}

.eye-l {
  left: 10%;
}

.eye-r {
  left: 60%;
}

.pupil {
  position: absolute;
  top: 25%;
  height: 60%;
  width: 35%;
  background: var(--cat-eye-pupil);
  border-radius: 50%;
  animation: look-around 4s infinite;
}

.eye-l .pupil {
  right: 30%;
}

.eye-r .pupil {
  left: 30%;
}

.pupil:after {
  content: "";
  position: absolute;
  top: 30%;
  right: -5%;
  height: 20%;
  width: 35%;
  border-radius: 50%;
  background: var(--cat-eyes);
}

/* MUZZLE */
.muzzle {
  position: absolute;
  top: 65%;
  left: 50%;
  height: 6%;
  width: 10%;
  z-index: 99;
  background: var(--cat-nose);
  transform: translate(-50%);
  border-radius: 50% 50% 50% 50%/30% 30% 70% 70%;
}

/* MOUTH */
.mouth {
  position: absolute;
  bottom: 20px;
  left: 40%;
  width: 50px;
  height: 35px;
  background: var(--cat-mouth);
  border-radius: 80% 80% 80% 80% / 50% 50% 90% 90%;
  z-index: 1;
  overflow: hidden;
}

.mouth::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 30px;
  border-radius: 50%;
  bottom: -10px;
  left: 10px;
  background: rgb(220, 75, 75);
}

/* BODY */
.body {
  position: absolute;
  top: 50%;
  width: 250px;
  height: 270px;
  border-radius: 30% 30% 35% 65% / 50% 50% 50% 50%;
  background: var(--cat-color);
}

.back {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 200px;
  height: 200px;
  border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%;
  background: var(--cat-color);
}

/* PAW */
.paw {
  position: absolute;
  bottom: -1%;
  left: 20%;
  width: 130px;
  height: 100px;
  border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%;
  background: var(--cat-color);
}

.paw::before {
  content: "";
  position: absolute;
  bottom: -5%;
  right: -150%;
  width: 130px;
  height: 100px;
  border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%;
  background: var(--cat-color);
}

/* TAIL */
.tail {
  position: absolute;
  right: 30px;
  bottom: 15px;
  height: 400px;
  width: 300px;
  border: 50px solid var(--cat-color);
  border-radius: 50%;
  display: inline-block;
  z-index: 0;
}

.tail-mask {
  position: absolute;
  right: 85px;
  top: 115px;
  height: 100px;
  width: 100px;
  background-color: var(--main-background);
  z-index: 0;
}

.tail-end {
  position: absolute;
  right: 75px;
  top: 175px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--cat-color);
  z-index: 1;
}
