@media (max-width: 520px) {
  /* CAT */
  .cat {
    width: 320px;
    height: 600px;
  }

  /* HEAD */
  .head {
    top: 10%;
    left: 0;
    width: 47%;
    height: 25%;
  }

  /* EARS */
  .ear {
    margin-left: 16.8%;
    margin-top: 20%;
  }

  .ear-l {
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 50px solid var(--cat-color);
    border-radius: 50%;
  }

  .ear-r {
    left: 29%;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 50px solid var(--cat-color);
    border-radius: 50%;
  }

  /* MOUTH */
  .mouth-l,
  .mouth-r {
    bottom: 14%;
    height: 20%;
    width: 20%;
    border: 5px solid var(--cat-mouth);
  }

  .mouth-l {
    right: 31%;
    transform: rotate(15deg);
  }

  .mouth-r {
    left: 31%;
    transform: rotate(-15deg);
  }

  .mouth-mask-l,
  .mouth-mask-r {
    top: 55%;
    height: 24%;
    width: 20%;
  }

  .mouth-mask-l {
    left: 30.2%;
  }

  .mouth-mask-r {
    left: 50%;
  }

  /* MOUTH-ENDs */
  .mouth-mask-l::after {
    left: 3%;
    top: 77%;
    width: 6px;
    height: 6px;
  }

  .mouth-mask-r::after {
    left: 79%;
    top: 75%;
    width: 6px;
    height: 6px;
  }

  .mouth-mask-r::before {
    left: -12%;
    top: 66%;
    width: 7px;
    height: 7px;
  }

  /* TONGUE */
  .tongue {
    width: 10%;
    height: 15%;
    left: 45.32%;
    bottom: 7%;
  }

  .tongue-mask {
    width: 34%;
    height: 20%;
    left: 33.5%;
    bottom: 18.2%;
  }

  /* WHISKERS */
  .whisker-1 {
    left: -20px;
    bottom: 50px;
  }

  .whisker-1::before,
  .whisker-1::after {
    left: 5px;
  }

  .whisker-1::before {
    bottom: 20px;
  }

  .whisker-1::after {
    bottom: -20px;
  }

  .whisker-2 {
    right: -20px;
    bottom: 50px;
  }

  .whisker-2::before,
  .whisker-2::after {
    left: -5px;
  }

  .whisker-2::before {
    bottom: 20px;
    transform: rotate(-10deg);
  }

  .whisker-2::after {
    bottom: -20px;
    transform: rotate(10deg);
  }

  /* BODY */
  .body {
    margin-top: 17%;
    margin-left: 17%;
    width: 45%;
    height: 30%;
  }

  .back {
    margin-top: 35%;
    margin-left: 45%;
    width: 40%;
    height: 20%;
  }

  /* PAWS */
  .paw-l,
  .paw-r,
  .paw-back-l {
    width: 75px;
    height: 70px;
  }

  .paw-l {
    margin-top: 65%;
    margin-left: 10%;
  }

  .paw-r {
    margin-top: 65%;
    margin-left: 42%;
  }

  .paw-back-l {
    margin-top: 56%;
    margin-left: 68%;
  }

  /* TAIL */
  .tail {
    margin-left: 50%;
    margin-top: 15%;
    width: 45%;
    height: 30%;
    border: 32px solid var(--cat-color);
  }

  .tail-mask {
    margin-left: 48%;
    margin-top: 15%;
    width: 26%;
    height: 10.7%;
  }

  .tail-end {
    margin-left: 70%;
    margin-top: 15%;
    width: 35px;
    height: 35px;
  }

  /* SHADOWS */
  .shadow {
    width: 100px;
    height: 100px;
    min-width: 100%;
    right: 0;
    bottom: 17%;
  }
}
