:root {
  /* COLORS */
  --main-background: #0a9bc8;

  /* CAT COLORS */
  --cat-color: #1a1a1a;

  --cat-muzzle: #ffc0cb;

  --cat-eyes: #ffffff;
  --cat-eye-pupil: #1a1a1a;

  --cat-mouth: #ffffff;
  --cat-tongue: #fa4646;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: var(--main-background);

  display: flex;
  align-items: center;
  justify-content: center;
}

.rm_layer {
  position: absolute;
  z-index: 97;
  width: 100%;
  height: 100%;
}
